@media ( max-width: 900px) {
    #publi{
        flex-wrap: wrap-reverse;
    }
}

@media ( max-width: 750px) {
    header{
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    
    li{
        font-size:10px;
    }
    #img-logo{
        width: 30px;
        height: 30px;
        margin-right: 2px;
    }
    #spotfy-logo{
        font-size: 20px;
        margin-left: 2px;
    }
    #promo{
        width: 400px;
        /* margin-left: 0px; */
    }
    #box-alert{
        width: 100%;
    }
    #buttons-promo-div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #div-resources{
        gap: 5px;
    }
    .li-plans{
        height: 100px;
    }
    #first-nav{
        display: none;
    }
    #second-nav{
        /* display: none; */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border: solid 5px black;
        border-radius: 5px;
        background-color: white;
    }
    #second-nav > img {
        text-align: center;
        width: 35px;
        height: 35px;
    }
    #second-nav:hover{
        transition: 300ms;
        scale: 1.2;
        cursor: pointer;
    }

    #ask{
        max-width: 95%;
    }
}